<!DOCTYPE html>
<html lang="pt br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <form action="/create" method="post">
      <input type="text"name="task" id="task" placeholder="insira uma tarefa"/>
      <button type="submit" id="addbutton"></button>

      <ul>
        <%tasksList.forEach((task) =>{ %>
        <li>
          <%= task.task %> | <%= task.date %>
        </li>
      <%}) %>
    </ul>
    </form>
  </body>
  <script src="script.js"></script>
</html>
